.buttoncard:hover{
    transform: scale(1.05,1.05);
    transition: 0.3s ease;
}
.buttoncard{
    border: none;
    box-shadow: -1px 0px 4px #f9f9f9,
                 6px 6px 8px #00000026;
}

.buttoncard:hover{
    box-shadow: 2px 2px 2px #f9f9f9,
            -2px -2px 2px #00000026;
}

