.liNav::after{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: linear-gradient(90deg,black,rgb(93, 93, 97));
    bottom: 0;
    transition: width 0.3s ease;
}

.liNav:hover::after{
    width: 85%;
}
