
.exploreBackGround{
    background-image: url('../../assets/image/abstraitBLEU.jpg');
    background-size: cover;      
    background-position: center;  
    background-repeat: no-repeat;
    height: 75vh;  
}