.bgImage1{
    background-image: url('../../assets/image/BgProject1 (1).jpg');
    background-size: cover;      
    background-position: center;  
    background-repeat: no-repeat;
}
.bgImage2{
    background-image: url('../../assets/image/BgProject1 (2).jpg');
    background-size: cover;      
    background-position: center;  
    background-repeat: no-repeat;
}
.bgImage3{
    background-image: url('../../assets/image/BgProject1 (3).jpg');
    background-size: cover;      
    background-position: center;  
    background-repeat: no-repeat;
}